// Colors
$color_bgColor: #191919;
$color_primaryColor: #202020;
$color_errorColor: #e74c3c;
$color_fontColor: #FFF;
$color_fontHoverColor: #7F7E7E;
$color_tableBorderColor: rgba(255, 255, 255, 0.5);
$color_tableHoverColor: rgba(255, 255, 255, 0.1);


$color_pendingColor: #007bff;
$color_readingColor: #ffc107;
$color_finishedColor: #28a745;

// Font sizes
$fontSize_small: 10px;
$fontSize_regular: 13px;
$fontSize_headings: 25px;
$fontSize_header: 30px;

// Sizes
$size_header: 60px;

// Fonts
$font_primaryFont: 'Arial, Helvetica, sans-serif';

// Breakpoints
$breakpoint_mobileBreakpoint: 768px;
